*,*::before,*::after{
    box-sizing: border-box; 
    font-size: $font-md;
    line-height: $line-height;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
  }
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    font-family: Roboto, sans-serif;
    font-size: $font-md;
    line-height: $line-height;
}